@use '../../app';
.page-nav {
  display: flex;
  justify-content: center;
  align-items: center;

  li {
    display: flex;
    justify-content: center;
    align-items: center;
    min-width: 40px;
    min-height: 40px;
    border: 1px solid app.$text;
    cursor: pointer;

    a {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: inherit;
      min-height: inherit;
      color: black;
    }
  }

  li._active {
    background-color: app.$text;
    color: app.$field
  }
}
